<form action="/input" method="post">
   Tên: <input type="text" name="name">
   <br><br>
   Email: <input type="email" name="email">
   <br><br>
   Age: <input type="number" name="age" id="">
   <br><br>
   <input type="submit" value="OK">
</form>