<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/admin_style.css' />
  </head>
  <body>
      <h1>Admin Page</h1>
      <nav>
        <ul>
          <li>
            <a href="/admin">Home</a>
          </li>
          <li>
            <a href="/product">Product Management</a>
          </li>
          <li>
            <a href="/category">Category Management</a>
          </li>
        </ul>
      </nav>
    {{{body}}}
  <p>Copyright by Cloud Computing 2023</p>
  </body>
</html>
